/* место для вашего кода */

body {
    font-family: Raleway, serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 92px 24px;
}

.header__menu {
    font-size: 18px;
    letter-spacing: 0.01em;
    padding-left: 27px;
}

.header__links-list {
    display: flex;
    gap: 30px;
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    /* Добавляем высоту и толщину подчеркивания */
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.header__logo {
    padding-right: 149px;
}

.header__logo-image {
    width: 139px;
    height: 105px;
}

.address {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 135%;
    letter-spacing: 0.01em;
    padding-right: 28px;
}

.address__link {
    /* Добавляем высоту и толщину подчеркивания */
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.header__address {
    max-width: 237px;
}

.main {}

/* ==== COVER ==== */

.cover {
    position: relative;
    width: 1100px;
    height: 758px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 179px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;
    color: #fff;
    padding: 165px 50px 126px 50px;
}

.aligned-text {
    display: block;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    text-align: center;
    padding-top: 12px;
    letter-spacing: 0.3em;
}

.aligned-text_right {
    text-align: right;
    padding-top: 7px;
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    padding-bottom: 50px;
}

.cover__description-text {
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 127%;
    word-spacing: 18px;
    padding-left: 38px;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    font-family: Raleway, serif;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 32px 11px 31px;
    margin-right: 9px;
}

/* ==== LOTS ==== */

.lots {
    margin-bottom: 146px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 28px;
    margin-left: 64px;
}

.lots__card-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 30px;

}

.lots__card-list-item {
    position: relative;
    width: 334px;
    height: 563px;
}

.card-link {
    text-decoration: none;
}

.card {
    width: 334px;
    height: 563px;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 51px 40px 48px 40px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    overflow: hidden;
}

.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
    margin-left: 64px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.letter-spacing-card {
    letter-spacing: 0.13em;
}

/* ==== ABOUT ==== */

.about {
    height: 595px;
    margin-bottom: 180px;
}

.about__column {
    display: flex;
    justify-content: space-around;
}

.about__logo {
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 40px;
    border-radius: 100%;
    background-color: #000;
}

.about__logo-image {
    padding: 64px 45px 0px 47px;
}

.about__content {
    width: 693px;
    height: 449px;
    padding-top: 136px;
    padding-left: 8px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.about__text-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
}

/* ==== FOOTER ==== */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1000px;
    height: 98px;
    margin: 0 50px 88px 50px;
}

/* .address {} */

/* .address__link {} */

.footer__address {
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.01em;
    width: 237px;
}

.footer__menu {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.footer__menu-list {
    list-style-type: none;
}

/* .footer__menu-list-item {} */

.footer__menu-link {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style-type: none;
}

/* .footer__social-list-item {} */

/* .footer__social-link {} */

.footer__social-icon {
    width: 48px;
    height: 48px;
}