/* место для вашего кода */

body {
    font-family: Raleway, serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 92px 24px 92px 24px;
}

.header__menu {
    font-size: 18px;
    letter-spacing: 0.01em;
    padding-left: 27px;
}

.header__links-list {
    display: flex;
    gap: 30px;
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    /* Убираем маркер*/
    list-style-type: none;
}

.header__link_active {
    /* Убираем подчеркивание */
    text-decoration: none;
}

.header__link {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.header__logo {
    padding-right: 149px;
}

.header__logo-image {
    width: 139px;
    height: 105px;
}

.address {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 135%;
    letter-spacing: 0.01em;
    padding-right: 28px;
}

.address__link {
    /* Добавляем высоту и толщину подчеркивания */
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.header__address {
    width: 237px;
}

/* ==== COVER ==== */

.cover {
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 179px;
}

.cover__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;
    color: #fff;
    padding: 165px 50px 126px 50px;
}

.aligned-text {
    display: block;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    text-align: center;
    padding-top: 12px;
    letter-spacing: 0.3em;
}

.aligned-text_right {
    text-align: right;
    padding-top: 7px;
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    padding-bottom: 50px;
}

.cover__description-text {
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 127%;
    word-spacing: 18px;
    padding-left: 38px;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    font-family: Raleway, serif;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 32px 11px 31px;
    margin-right: 9px;
}

/* ==== LOTS ==== */

.lots {
    margin-bottom: 1000px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 30px;
}

.lots__card-list-item {}

.card-link {}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 334px;
    min-height: 563px;
    padding-right: 40px;
    padding-left: 40px;
}

.card_type_film {
    /* background-image: url(/images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
}

.card_type_book {
    /* background-image: url(/images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
}

.card_type_picture {
    /* background-image: url(/images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    padding-top: 51px;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    padding-bottom: 48px;
}

.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
    margin-left: 40px;
}